@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  audio::-webkit-media-controls-panel {
    @apply bg-white;
  }

  audio::-webkit-media-controls-enclosure {
    @apply rounded-xl;
  }

  [x-cloak] {
    display: none !important;
  }

  [data-format-time] {
    @apply invisible;
  }

  [data-format-date] {
    @apply invisible;
  }

  [data-format-date-simple] {
    @apply invisible;
  }

  summary, button {
    @apply cursor-pointer;
  }

  dialog {
    @apply bg-white rounded-xl max-w-md w-72 sm:w-80 md:w-96 shadow-lg p-5 backdrop:bg-primary-800/50 z-20;
  }

  code {
    @apply font-mono;
  }

  label {
    @apply select-none;
  }
}

@layer components {
  .custom-transition {
    @apply transition duration-300 ease-in-out;
  }

  a,button {
    @apply custom-transition;
  }

  .custom-shadow {
    @apply shadow hover:shadow-none;
  }

  input[type=button], input[type=file] {
    @apply file:shadow hover:file:shadow-none file:transition file:duration-300 file:ease-in-out;
  }

  .btn-base {
    @apply inline-block text-center px-5 py-2 no-underline font-bold;
  }

  .btn {
    @apply btn-base rounded-xl;
  }

  .btn-primary {
    @apply text-gray-50 bg-primary-500 hover:bg-primary-600 custom-shadow;
  }

  .btn-primary[disabled] {
    @apply bg-gray-500 hover:bg-gray-500;
  }

  .input-text-base {
    @apply block w-full border-gray-300 shadow-sm focus:ring-primary-100 focus:ring focus:outline-none focus:shadow-none placeholder:text-gray-300 custom-transition;
  }

  .input-text {
    @apply rounded-xl input-text-base;
  }

  .input-checkbox {
    @apply custom-transition border-gray-300 focus:ring-primary-100 focus:ring focus:outline-none focus:shadow-none rounded accent-primary-500 scale-110 cursor-pointer;
  }

  .alert {
    @apply p-4 text-sm rounded-lg;
  }

  .alert-warning {
    @apply bg-warning-50 text-warning-800;
  }

  .alert-danger {
    @apply bg-danger-50 text-danger-700;
  }

  .alert-info {
    @apply bg-primary-50 text-primary-700;
  }

  .alert-success {
    @apply bg-success-100  text-success-600;
  }

  .link {
    @apply underline decoration-primary-500 hover:decoration-transparent hover:text-primary-500 underline-offset-1;
  }

  .attr {
    @apply font-bold;
  }

  #my-table:not(.multiple) tbody tr:nth-of-type(2n + 1) td {
    @apply bg-primary-100;
  }

  #my-table:not(.multiple) tbody tr:nth-of-type(2n + 2) td {
    @apply bg-primary-200;
  }

  #my-table tbody tr td {
    @apply text-base;
  }

  #my-table tbody tr th {
    @apply text-xs;
  }

  #splash-screen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
